blib/arch/auto/POSIX/Regex/.exists
blib/arch/auto/POSIX/Regex/Regex.bs
blib/arch/auto/POSIX/Regex/Regex.so
blib/arch/.exists
blib/bin/.exists
blib/lib/auto/POSIX/Regex/.exists
blib/lib/POSIX/.exists
blib/lib/POSIX/Regex.pm
blib/lib/POSIX/Regex.pod
blib/man1/.exists
blib/man3/.exists
blib/man3/POSIX::Regex.3
blib/script/.exists
const-c.inc
const-xs.inc
Makefile
Makefile.old
MYMETA.json
MYMETA.yml
pm_to_blib
Regex.bs
Regex.c
Regex.o
